/* General Homepage Styling */
.homepage {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: transparent;
    font-family: 'Arial', sans-serif;
    padding: 20px;
}

.homepage-container {
    width: 400px;
    background: linear-gradient(180deg, #b5b0e1, #f0f0f0);
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Adds shadow for emphasis */
    text-align: center;
    padding: 20px;
    
}

.homepage-container h2 {
    font-size: 1.4rem;
    font-weight: bold;
    color: #333333; /* Darker text color for contrast */
    margin: 0;
    padding-bottom: 10px;
    background-color: transparent;
}

.homepage-container p {
    font-size: 0.9rem;
    color: #666666;
    margin-bottom: 20px;
}

.no-activities-message {
    text-align: center;
    color: #666;
    font-size: 1.2rem;
    margin: 20px 0;
}

.activity-selection-options {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.activity-selection-option {
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #e0e0e0; /* Subtle border for individual items */
    text-align: center;
    width: 100%;
}

.activity-selection-option img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    display: block; /* Removes inline spacing below the image */
}

.activity-selection-option p {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.delete-button {
    position: absolute; /* Position over the image */
    top: 10px; /* Align towards the top of the image */
    right: 10px; /* Align to the right */
    padding: 5px 10px;
    background: rgba(255, 77, 77, 0.9); /* Semi-transparent red */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 0.8rem;
    cursor: pointer;
    transition: background 0.3s;
}

.delete-button:hover {
    background: rgba(230, 57, 57, 0.9);
}

.homepage-button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background: #8a2be2;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
}

.homepage-button:hover {
    background: #6c1bb4;
}
